#card-list .card {
  width: auto;
}


#card-list>div .card img {
  object-fit: fill;
}

#card-list .card .btn-wrapper {
  width: max-content;
  justify-self: end;
}

@media screen and (max-width: 425px) {
  #card-list>div {
    justify-items: center;
  }

  #card-list>div .card .card-body .card-title {
    font-size: 16px;
  }

  #card-list>div .card .card-body .card-text {
    font-size: 14px;
  }

  #card-list>div .card .btn {
    width: auto;
    font-size: 12px;
  }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
  #card-list>div {
    justify-items: center;
  }

  #card-list>div .card .card-body .card-title {
    font-size: 16px;
  }

  #card-list>div .card .card-body .card-text {
    font-size: 14px;
  }

  #card-list>div .card .btn {
    width: auto;
    font-size: 12px;
  }
}

@media screen and (min-width: 1440px) {
  #card-list>div {
    justify-items: center;
  }

  #card-list>div .card img {
    max-height: 500px;
    object-fit: fill;
  }
}